.head{
    width:220px;
    margin: 0px 45vw;
    background-color: #555533;
    padding:0px 5px;
    margin-top: 10px;
    top: 10px;
    position:relative
}

.synapse{
    margin:0px 37vw;
    width:550px;
    background-color: transparent;
    position:relative;
    top: 10px;
}

.x{
    margin-left: 37vw;
    margin-top: 10px;
    margin-bottom:3px;
    width:fit-content;
    background-color: transparent;
    position:relative;
    top: 10px;
}

.inventor{
    margin-left: 37vw;
    margin-top:0px;
    width:max-content;
    background-color: transparent;
    position:relative;
    top: 10px;
}

.square{
    width:100vw;
    height: 150px;
    margin:0px;
    padding:0px;
    background-color: whitesmoke;
    top: 10px;
    left:0px;
    position:absolute
}

#sadman{
    width:100vw;
    margin:0px;
    padding:0%;
    height:100vh;
    background-image: url("pic.jpg");
    background-size:cover
    
}

.chimpken{
    top:150px;
    position:relative
}